body {
    background-color: #121212 !important;
    color: #e0e0e0 !important;
  }
  
  .swagger-ui .topbar {
    background-color: #1e1e1e !important;
  }
  
  .swagger-ui .opblock {
    background: #1c1c1c !important;
    border: 1px solid #333 !important;
  }
  
  .swagger-ui .btn {
    background: #333 !important;
    color: #fff !important;
  }
  
  .swagger-ui .opblock-summary-method {
    background: #444 !important;
    color: #fff !important;
  }
  